<div class="panjakarma">
  <h1>Panchakarma Treatment</h1>
  <h3>The Ultimate Mind-Body Healing & Detoxification</h3>
  <p>Panchakarma is the ultimate mind-body healing experience for detoxifying the body, strengthening the immune system, and restoring balance and well-being. It is one the most effective healing modality in Ayurvedic Medicine. It promotes Detoxification and Rejuvenation. It is recommended on a seasonal basis, as well as when an individual feels out of balance or is experiencing illness.</p>
  <h3>Treatments</h3>
  <p>The descriptions that follow cover the variety of therapies that may be performed during a Panchakarma series and represent the actual treatments used in the ancient art of life extension. Two Ayurvedic therapists working in synchrony perform many of them. Two, three, and sometimes four of these therapies are linked together during the course of one day’s treatments.<br>
    <br>
    Abhyanga is an individually prepared herbal-oil massage designed to deeply penetrate the skin, relax the mind-body, break up impurities, and stimulate both arterial and lymphatic circulation. It enhances the ability of nutrients to reach starved cells and allows for the removal of stagnant waste. The desired result is a heightened state of awareness that will direct the internal healing system of the body.
    <br><br>
    Shirodhara is administered by gently and methodically pouring warm herbalized oil over the forehead, synchronizing brain waves and profoundly coordinating and calming the mind, body, and spirit.
    <br><br>

    Garshana treatments consist of a dry lymphatic skin brushing with either wool or a silk glove. This enhances circulation and cleans the skin so that subsequent oil and herbal treatments can penetrate deeply into freshly cleansed pores of the skin.

    <br><br>

    Swedana is an individually herbalized steam bath, during which the head and the heart are kept cool while the body is heated to remove mental, emotional and physical toxins lodged deeply within the tissues. The cool head and heart provide a sense of calm and openness while the therapeutic steam over the entire body can penetrate and cleanse deeply, without the body becoming overheated and stressed.
    <br><br>

    Pizichili is a continuous stream of warm herbalized oil soothingly poured over the body by two Ayurvedic therapists as they massage the body in perfect unison. The warmth of the oil and synchronicity of the massage combine for a deep tissue cleansing while supporting a heightened state of awareness that transcends description.
    <br><br>

    Udvartana is a deeply penetrating herbal paste lymphatic massage. This powerful exfoliating treatment magically Restore Your Natural Radiance conditions the skin while pressing stagnant lymphatic toxins out of the body.
    <br><br>
    Five Senses Therapy treatment combines the therapeutic effect of all five senses working in concert. Sound therapies are specific Vedic hymns and mantras recommended for each imbalance. Touch therapy enlivens specific vital points on the body called marma points. Taste therapy uses certain herbal medicines. Sight uses Ayurvedic color therapy, and smell is accessed with combinations of rare aromatics. The effect is a harmonizing of all the senses to bring one’s awareness to the source of thought and feeling within the heart.
    <br><br>
    Basti is an herbal enema specially prepared to pull toxins out of the colon. This is the final stage of each daily Panchakarma treatment. The freshly loosened impurities from each day of treatment are flushed out of the body via the effects of the basti. The basti also transports Ayurvedic medicines into the blood and tissues in order to trans-form the memory of damaged and toxic cells. It is considered one of the most important and most powerful aspects of the Panchakarma treatment.
    <br><br>
    Nasya consists of individually prescribed herbs and oil drops, inhaled through the nose, which clear the sinuses of excessive mucus. It is also an important therapy when medicating the central nervous system. This treatment combats the deep dryness that exists at the root of many respiratory and allergic conditions.
    <br><br>
    Shiro-Abhyanga-Nasya is a luxurious combination of a deep head/neck/shoulder massage and facial lymphatic massage, followed by deep inhalation of therapeutic aromatic steam, and a nasal and sinus nasya with herbalized nose drops. This popular treatment is an invaluable tool balancing most head, neck and respiratory disorders.
    <br><br>
    Pinda Swedana is a deep cleansing treatment where rice boiled in milk and herbs is massaged deeply into the tissues and joints. The treatment is deeply relaxing and rejuvenating as well as powerfully detoxifying.
    <br><br>

    We also offer some other treatments like Netra Tarpana, Marma Massage, Kati basti, Karna poorana, Pada dhara, Hawaiian style Lomi Lomi & Ayurvedic Skin & Beauty Treatments.
  </p>
  <h3>Panchakarma Detoxifies the Body and Mind</h3>
  <p>According to ayurveda, good health depends upon our capability to fully metabolize all aspects of life, assimilating that which nourishes and eliminating the rest. When we can’t completely digest our food, experiences, and emotions, toxins accumulate in our bodily tissues, creating imbalance and – ultimately – disease. Panchakarma is an elegant cleansing process that releases stored toxins and restores the body’s innate healing ability.</p>

</div>
<!--  /////////////////////////////////////////////////////////////-->

<div class="weight-loss">
  <h1>AYURVEDA WEIGHT LOSS PROGRAMME</h1>
  <p>Ayurveda programme in South Kerala dedicated to weight reduction that spans 14 days and provides the basis for a continuous process of body management and stabilising your weight.
    For people who suffer from weight management issues: the constant need to diet, the poor self-image, and the health problems associated with obesity, make the need to manage their weight both important and challenging. As all of us know, if you walk into a bookshop there are thousands of books offering advice on good diet.
    <br><br>
    Ayurveda approaches the problem from a holistic perspective: obesity is not just a function of diet but also related to lifestyle choices and habits. Therefore, managing your weight and achieving the appropriate weight your age and height requires lots of different changes in your life. Ayurveda also recognises diet as being a significant foundation in overall health and wellness; proper diet is called Ahara in ayurveda.
    <br><br>
    The foundation concept in ayurveda is the tridosha theory which identifies any individual as containing either one or a combination of the three doshas. Any diet proposed needs to take into account your type and how your type responds to different types of inputs.
    <br><br>
    This weight reduction programme can never be specified before the arrival as so much will depend on the diagnosis by the doctor. The programme we have described below should be understood as typical but not necessarily prescriptive. Your program is almost certainly going to vary from the one we have described and that will depend on that first meeting between yourself and the Doctor.
    <br><br>
    If you have not encountered Ayurveda before, then you will probably understand it in the same conceptual framework as Western medicine whereby you are seen as not well and the doctor's job is to cure you by introducing external factors such as pharmaceuticals or surgery. The Ayurveda paradigm is very different and emphasises the pathway as one of self healing rather than being healed. To self heal, you are obliged to understand about yourself, your imbalances and the need to address them redress them through a balanced diet rather than a dramatic diet. The system does not propose juice diets or vegetable diets or protein diets: the Ayurveda Dr sees his patient as a complete system and explores how that system is unbalanced.
    <br><br>
    If you haven't dieted before then you will know how difficult it is and also how emotional process can be. As your body moves from one state to another your mind and your emotions often struggle with the changes. For many people suffering from obesity, food can play an important role in their lives and rethinking that role and that central importance can be traumatic.
  </p>
</div>
<!--  ////////////////////////////////////////////////////////////////////  -->

<div class="detax-and-rejuvination">
  <h1>Rejuvenation</h1>
  <p>
  With the body clear of toxins and ama, it is much like a clean slate. Now the internal energy of the body can be rebuilt. The rebuilding process strengthens the digestive system and the immune system, and entails taking additional special foods and herbs. These herbs are designed to enhance the strength of immune system and are revered for extending life.
  <br><br>
  The end result of Panchakarma is an optimally functioning digestive system and renewed internal energy. After receiving Panchakarma the mind is light and clear, the body is pure and the energy is high. For many it is a life-changing experience.
  <br><br>
  Dr. David Frawley, renowned Vedic scholar, says in his book Ayurveda and the Mind: "Panchakarma is the main Ayurvedic method for physical purification. It is useful for physical problems caused by excesses of the three doshas. Yet it can also be helpful for psychological problems caused by internal factors, emotions, and karma.”
  <br><br>
  Panchakarma is traditionally used in the healing of many diseases. It is an intensive therapy best performed at a time when the patient has adequate time to rest. Brief Panchakarma programs last 7 days. This is followed by a period of rejuvenation which can be done at home. Extensive programs can be designed for up to one month.
  </p>
  ﻿
</div>
<!-- ================-/////////////////////////////////// -->
<div class="beaty-care">
  <h1>Beauty care and eye care</h1>
</div>
<!-- //////////////////////////////////////////////////////////////////// -->

<div class="remove-stress">
  <h1>REMOVE STRESS AND STRAIN</h1>
</div>
<!-- ====////////////////////////////////// -->
<div class="preventive-regenerative">
  <h1>PREVENTIVE REJENERATIVE</h1>
</div>
 <!-- =========/////////////////////////////////////////////////- -->
<div class="sinusities">
  <h1>SINUSITIES AND ALLERGY</h1>
</div>

<!-- /////////////////////////////////////////////////////// -->
<div class="migrain">
  <h1>MIGRAIN</h1>
</div>
<!-- //////////////////////////////////////////// -->

<div class="slipdisc">
  <h1>SLIPDISC TREATMENT</h1>
</div>

<!-- ////////////////////////////////////////////////// -->

<div class="aritritis and spondilits">
  <h1>ARITHRISTIS AND SPONDILITS</h1>
</div>

<!--  ''''..............//////////////////////////////-->

<div class="chronic-backpain">
<h1>CHRONIC BACKPAIN</h1>
</div>
<!--  //////////////////////////////////////////////-->
<div class="psoriasis">
  <h1>SKIN DISESES AND PSORIASIS</h1>
</div>
